html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */

  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */

  height: 50px;
  color: #4d4d4d;
  background-color: #cccccc;
  border: 0px;
}
.footer .navbar {
  border: 0px;
}
.navbar {
  margin-bottom: 0;
}
.container {
  height: 100%;
}
.dashboard .sidebar {
  background-color: #f2f2f2;
}
.dashboard .showcase {
  background-color: #FFFFFF;
}
.dashboard .bonus {
  background-color: #FFFFFF;
}
.nm-primary-nav {
  border-color: #FFFFFF;
}
.icon-button:before {
  display: block;
  content: ' ';
  position: relative;
  left: 0px;
  top: 0px;
  float: left;
  height: 20px;
  width: 20px;
  margin: 0 5px 0 0;
  background-size: 20px 20px;
  background-position: top left;
}
.btn-prefs:before {
  background-image: url('/img/icon_preferences.svg');
}
.btn-tips:before {
  background-image: url('/img/icon_tips.svg');
}
.btn-call:before {
  background-image: url('/img/icon_call.svg');
}
.btn-support:before {
  background-image: url('/img/icon_support.svg');
}
