@blue: #297daa;

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
	display: none !important;
}


html, body, .dashboard, .ng-container {
	font-family: 'Open Sans', sans-serif;
	padding: 0;
	margin: 0;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	color: #333333;
}

.form-control {
	border-radius: 0;

	&::-webkit-input-placeholder, &:-moz-placeholder, &::-moz-placeholder, &:-ms-input-placeholder {
		color: #b3b3b3;
	}
}

a {
	color: @blue;
	text-decoration: none;
}

a:hover,
a:focus {
	color: @blue;
	text-decoration: underline;
}

a:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.logo {
	margin-top: -10px;
}

.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 50px;
	color: #4d4d4d;
	background-color: #333333;
	border: 0px;
	.navbar {
		border: 0px;
		background-color: #333333;
		a {
			color: #d9d9d9;
			&:hover, &:focus {
				background-color: #333333;
			}
		}
	}

}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

.container {
	height: 100%;
}

.dashboard {
	width: 100%;
	/* margin and padding to compensate for toolbars on top and bottom */
	margin-top: -100px;
	padding-top: 100px;
	display: table;

	.table-row {
		height: 100%;
		margin: 0;
		display: table-row;
		&:before, &:after {
			content:none;
		}
	}

	.table-cell {
		display: table-cell;
		float: none;
		vertical-align: top;
	}

	header {
		background-color: #f4f0ec;
		padding: 15px;

		h4 {
			text-transform: uppercase;
		}
	}

	.sidebar {
		.btn-new-dashboard {
			margin: 10px;
		}

		background-color: #f4f0ec;
		padding-left: 0;
		padding-right: 0;
	}



	.showcase, .bonus {
		background-color: #faf9f8;
		padding: 0;

		.inner {
			padding: 15px;
		}

		section {
			padding: 15px;
			min-height: 287px;
			max-height: 287px;
			label {
				font-weight: normal;
				font-size: 1.2em;
				padding-bottom: 5px;
				color: #3c3c3c;
			}
		}
	}

	.inner-inner {
		padding: 15px;
		background-color: #FFFFFF;
	}

	.map {
		border: none;
		border-right: 1px solid #ececec;
		min-height: 613px;
		max-height: 613px;
		overflow: hidden;
		padding: 0;
		position: relative;

		.info-overlay {
			position: absolute;
			top: 0px;
			left: 0px;
			padding: 5px 10px;
			/* Fallback for web browsers that doesn't support RGBa */
			background: rgb(111, 116, 117);
			/* RGBa with 0.6 opacity */
			background: rgba(100, 100, 100, 0.7);
			div {
				color: white;
				font-weight: 300;
				span:first-child {
					margin-right: 10px;
				}
			}
		}
	}

	.angular-google-map-container { height: 613px; }

	.under-map {
		background-color: #FFFFFF;
		border-top: none;
		border: none;
		border-bottom: 1px solid #ececec;
		border-right: 1px solid #ececec;
		min-height: 287px;
		margin-left: 0;
		margin-right: 0;
		section {
			&.specs li {
				font-size: 1.1em;
				line-height: 2.6em;
				border-top: 2px dotted #c3c3c3;
				span {
					font-weight: bold;
				}
			}
		}
	}

	.bonus {
		section {
			border: none;
			border-bottom: 1px solid #ececec;
			border-right: 1px solid #ececec;
			background-color: #FFFFFF;
			overflow: hidden;
			margin-bottom: 20px;
		}

		.treatment-list {
			max-height: 220px;
			overflow-y: scroll;
		}
	}

	.table-treatments {
		& > tbody {
			background-color: #ffffff;
		}

		& > tbody > tr:nth-child(odd) > td,
		& > tbody > tr:nth-child(odd) > th {
			background-color: #f2f2f2;
		}

		thead th {
			background-color: #666666;
			color: #FFFFFF;
			font-weight: normal;
			border: none;
			border-right: 1px solid #8d8d8d;
			&:last-child {
				border-right: none;
			}
		}
		td {
			border: none;
			border-right: 1px solid #d3d3d3;
			color: #636363;
			&:last-child {
				border-right: none;
			}
		}
	}
}

.map-view {
	@map-height: 814px;
	.map {
		min-height: @map-height;
		max-height: @map-height;
	}

	.angular-google-map-container { height: @map-height; }

	.sign-info-popup {
		li {
			line-height: 20px;
		}
		span {
			font-weight: bold;
		}
	}
}

.nm-primary-nav {
	border-color: #FFFFFF;
}


.icon-button:before {
	display: block;
	content: ' ';
	position: relative;
	left: 0px;
	top: 0px;
	float: left;
	height: 20px;
	width: 20px;
	margin: 0 5px 0 0;
	background-size: 20px 20px;
	background-position: top left;
}

.btn-prefs:before {
	background-image: url('/img/icon_preferences.svg');
}

.btn-tips:before {
	background-image: url('/img/icon_tips.svg');

}

.btn-call:before {
	background-image: url('/img/icon_call.svg');

}

.btn-support {
	color: white;
	min-width: 325px;

	&:before {
		height: 30px;
		width: 30px;
		margin: -5px 10px 0 0;
		background-size: 30px 30px;
		background-image: url('/img/robert-sweeney.jpg');
	}

	&:after {
		display: block;
		content: ' ';
		position: relative;
		left: 0px;
		top: 0px;
		float: right;
		height: 40px;
		width: 40px;
		margin: -10px 0 0 0;
		background-image: url('/img/icon_chat.svg');
		background-size: 40px 40px;
		background-position: top left;
	}
}


.navbar-default {
	background-color: #e8e3da;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: @blue;
	background-color: #e8e3da;
}

.navbar-default .navbar-nav > li > a {
	text-transform: uppercase;
	font-weight: bold;
	color: black;
}

.btn-default {
	padding: 10px;
	text-transform: uppercase;
	color: #FFFFFF;
	background-color: #b7ada4;
	border: none;
	border-radius: 0;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
	color: #f2f2f2;
	background-color: #333333;
	border: none;
}

.dashboard-list {
	margin-bottom: 20px;
	min-width: 178px;

	label {
		text-transform: uppercase;
		font-weight: bold;
		margin: 0 5px;
		padding: 5px;
		color: #000000;
		border-bottom: 1px solid #333333;
		display: block;
	}

	ul {
		padding-left: 0;
		list-style: none;
		li {
			padding: 12px 10px;

			&.active {
				color: @blue;
				background-color: #faf9f8;
			}
		}
	}
}

.nav-chat {
	border-left: 1px solid #666666;
}

.blue {
	color: @blue;
}

.chat-box {
	position: fixed;
	bottom: 0;
	right: 0;
	min-width: 325px;
	max-width: 325px;
	height: 560px;

	background-color: #f4f0ec;

	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.7);

	.title-bar {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		color: #cccccc;
		padding: 10px;
		height: 52px;
		margin: 0;
		background-color: #333333;

		.chat-user-icon {
			width: 30px;
			height: 30px;
			vertical-align: top;
			margin-right: 5px;
		}

		.title-content {
			display: inline-block;
			font-size: .9em;
			.dim {
				color: #737373;
			}
		}

		.icon-close-x {
			position: absolute;
			top: 10px;
			right: 10px;
			display: inline-block;
			background-image: url('/img/icon_close_chat.svg');
			background-size: 25px 25px;
			width: 25px;
			height: 25px;
		}
	}
	.transcript {
		position: absolute;
		top: 52px;
		bottom: 50px;
		left: 0px;
		right: 0px;
		overflow-y: auto;

		.chat-bubble {
			position: relative;
			border-radius: 3px;
			padding: 10px;
			margin: 10px;
			font-size: .9em;
			max-width: 260px;
			clear: both;

			&.them {
				background-color: #e4ded6;
				color: #4d4d4d;
				float: right;
				border-bottom-right-radius: 0;
				&:after
				{
					content: ' ';
					position: absolute;
					width: 0;
					height: 0;
					right: 0px;
					bottom: -6px;
					border: 3px solid;
					border-color: #e4ded6 #e4ded6 transparent transparent;
				}
			}


			&.me {
				border-bottom-left-radius: 0;
				background-color: #1daed7;
				color: #effafd;
				float: left;

				&:after
				{
					content: ' ';
					position: absolute;
					width: 0;
					height: 0;
					left: 0px;
					bottom: -6px;
					border: 3px solid;
					border-color: #1daed7 transparent transparent #1daed7;
				}
			}
		}

	}
	.user-entry {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: white;
		height: 50px;
		input[type=text] {
			width: 100%;
			height: 100%;
			border: none;
			padding: 10px;
			&:focus {
				border: none;
				outline: none;
			}
		}
	}
}


.c3-axis {
	text {
		fill: rgb(179, 179, 179);
	}

	line {
		stroke: rgb(179, 179, 179);
	}

	.domain {
		stroke: rgb(244, 207, 194);
	}
}

.c3-xgrid-line {
	line {
		stroke: rgb(244, 207, 194);
	}
	text {
		fill: rgb(179, 179, 179);
	}
}