<div class="container-fluid dashboard map-view">
	<div class="table-row row">
		<div class="col-sm-1 sidebar table-cell">
			<section class="dashboard-list favorites">
				<label>Content</label>
				<ul>
					<li><input type="checkbox" ng-model="showBarriers"> Barriers</li>
					<li><input type="checkbox" ng-model="showSigns"> Signs</li>
					<li><input type="checkbox" ng-model="showMileposts"> Mileposts</li>
				</ul>
			</section>
		</div>
		<div class="col-sm-11 showcase table-cell">
			<header>
				<h4>Map</h4>
				<input type="text" class="form-control" placeholder="FILTER results">
			</header>
			<div class="inner">
				<div class="inner-inner">
					<div class="map">
						<ui-gmap-google-map center="map.center" zoom="map.zoom" options="map.options" bounds="map.bounds">
							<!--NOT SURE WHY THIS DOESN'T WORK-->
							<!--<ui-gmap-polylines models="barriers" path="'path'" stroke="'stroke'" visible="true"-->
											   <!--geodesic="false" fit="false" editable="false" draggable="false" static="true">-->
							<!--</ui-gmap-polylines>-->

							<ui-gmap-polyline ng-repeat="p in barriers" path="p.path" stroke="p.stroke" visible='true' geodesic='false' fit="false" editable="false" draggable="false"></ui-gmap-polyline>

							<ui-gmap-markers models="signs" coords="'coords'" icon="'icon'" click="signEvents.clicked">
								<ui-gmap-windows show="'showWindow'" closeClick="'closeClick'" ng-cloak>
									<div class="sign-info-popup" ng-non-bindable>
										<ul class="list-unstyled">
											<li>Mile Post: <span>{{raw.FromMilePost|number:1}}</span></li>
											<li>Width: <span>{{raw.Width}}</span></li>
											<li>Maintenance Station: <span>{{raw.Station}}</span></li>
											<li>Sign Text: <span>{{raw.Legend}}</span></li>
											<li>Route: <span>{{raw.Route}}</span></li>
											<li>Facing Direction: <span>{{raw.SignOrientation}}</span></li>
											<li>Side: <span>{{raw.Side}}</span></li>
											<li>Condition: <span>{{raw.Condition}}</span></li>
											<li>MUTCD Code: <span>{{raw.MUTCD}}</span></li>
											<li>Region: <span>{{raw.Region}}</span></li>
										</ul>
									</div>
								</ui-gmap-windows>
							</ui-gmap-markers>
						</ui-gmap-google-map>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> <!-- /container -->